.bodyStartseite {
  background: linear-gradient(to right, #300000, #600000, #300000);
  min-height: 100vh;
}

.bild-galerie {
  padding: 2rem;
  background: linear-gradient(to right, #300000, #600000, #300000);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.bild-galerie a {
  display: inline-block;
  text-align: center;
}

.bild-galerie img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}

.bild-galerie img:hover {
  transform: scale(1.04);
}

.suchButton svg,
.ticketButton svg,
.accountButton svg {
  background: none;
  color: white;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

.suchButton,
.accountButton,
.ticketButton {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #530f0f;
  border: 0.3rem solid black;
  box-sizing: border-box;
  z-index: 1000;
}

.suchButton {
  background: radial-gradient(circle, #440000, #1a0000 80%);
  left: 25%;
  width: 50%;
  height: 7vh;
  z-index: 1050;
}

.accountButton {
  background: radial-gradient(circle, #440000, #1a0000 80%);
  left: 75%;
  width: 50%;
  height: 7vh;
  z-index: 1050;
}

.ticketButton {
  background: radial-gradient(circle, #440000, #1a0000 80%);
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  z-index: 1100;
  flex-direction: column;
}

.suchbereich {
  background: linear-gradient(to top, #300000, #600000);
  padding: 1rem;
  text-align: center;
}

.suchbereich input {
  color: white;
  background-color: #530f0f;
  border: 1px solid black;
  padding: 0.5rem;
  font-size: 1rem;
  width: 60%;
  max-width: 80%;
}