.bild-galerie {
  padding: 2rem; 
}

.bild-galerie a {
  display: block;          
  margin-bottom: 2rem;    
  text-align: center;      
}

.bild-galerie img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}

.bild-galerie img:hover {
  transform: scale(1.04);
}


.buttonBar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;               
  z-index: 1000;
}

.buttonBar button {
  flex: 1 1 auto;          
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

